{% extends 'common/base.html'%}

{% block header_content %}
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>微信分享测试页面</title>
{% endblock %}

{% block block_head_css %}
 <link rel="stylesheet" href="/template/index/share/index.css">
{% endblock %}

{% block block_head_js %}
 <script src='http://res.wx.qq.com/open/js/jweixin-1.4.0.js'></script>
 <script src='/template/index/share/index.js'></script>    
{% endblock %}


{% block block_body %}

{% endblock %}